<br>
<h1 style="font-family:Helvetica;">About Alpha Blog</h1>
<p style="font-family:Helvetica;"> Alpha Blog was inspired by our undying drive of self-improvement, growth and thirst for knowledge. The site was made possible by the vision of many other Alphas before us who invented and kept on improving the vision of what Ruby could be and Ruby is!
</p>


-----------------------------------------
START CONTAINERS
-----------------------------------------<br /><br /><br />
<div class="player container">
  <div class="player row">
    <div class="player col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">

      <div class="player col-xs-12">
        IMAGE --------------<br />
        --------------------<br />
        --------------------<br />
        --------------------<br />
        --------------------<br />
      </div>
      <div class="player col-xs-12">
        Marcio Correa <br />
        Sex: Male<br />
        Height: 5'11"<br />
        Weight: 160 lbs<br />
        Location: [US] Boston, MA
      </div>
    </div>

    <div class="player col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-10">

<!-- THIS IS WHERE THE SPORTS TABLE STARTS -->
      <div class="player col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        Volleyball | Setter / Any <br />
        Intermediate<br />
        <br />
        Ratings
        <hr>
          <div class="player row">
            <div class="player col-xs-3">
              CBVA<br />
              B
            </div>
            <div class="player col-xs-3">
              USAV<br />
              B
            </div>
            <div class="player col-xs-3">
              NAGVA<br />
              B
            </div>
            <div class="player col-xs-3">
              Yankee<br />
              B
            </div>
          </div>
      </div>

      <div class="player col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        Volleyball | Setter / Any <br />
        Intermediate<br />
        <br />
        Ratings
        <hr>
          <div class="player row">
            <div class="player col-xs-3">
              CBVA<br />
              B
            </div>
            <div class="player col-xs-3">
              USAV<br />
              B
            </div>
            <div class="player col-xs-3">
              NAGVA<br />
              B
            </div>
            <div class="player col-xs-3">
              Yankee<br />
              B
            </div>
          </div>
      </div>

      <div class="player col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        Volleyball | Setter / Any <br />
        Intermediate<br />
        <br />
        Ratings
        <hr>
          <div class="player row">
            <div class="player col-xs-3">
              CBVA<br />
              B
            </div>
            <div class="player col-xs-3">
              USAV<br />
              B
            </div>
            <div class="player col-xs-3">
              NAGVA<br />
              B
            </div>
            <div class="player col-xs-3">
              Yankee<br />
              B
            </div>
          </div>
      </div>

      <div class="player col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        Volleyball | Setter / Any <br />
        Intermediate<br />
        <br />
        Ratings
        <hr>
          <div class="player row">
            <div class="player col-xs-3">
              CBVA<br />
              B
            </div>
            <div class="player col-xs-3">
              USAV<br />
              B
            </div>
            <div class="player col-xs-3">
              NAGVA<br />
              B
            </div>
            <div class="player col-xs-3">
              Yankee<br />
              B
            </div>
          </div>
      </div>

      <div class="player col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        Ultimate Frisbee | Setter / Any <br />
        Intermediate<br />
        <br />
        Ratings
        <hr>

      </div>

      <div class="player col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        Soccer | Setter / Any <br />
        Intermediate<br />
        <br />
        Ratings
        <hr>
          <div class="player row">
            <div class="player col-xs-3">
              CBVA<br />
              B
            </div>
            <div class="player col-xs-3">
              USAV<br />
              B
            </div>
            <div class="player col-xs-3">
              NAGVA<br />
              B
            </div>
            <div class="player col-xs-3">
              Yankee<br />
              B
            </div>
          </div>
      </div>

      <div class="player col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        Tennis <br />
        Intermediate<br />
        <br />
        Ratings
        <hr>
          <div class="player row">
            <div class="player col-xs-3">
              CBVA<br />
              B
            </div>
          </div>
      </div>
<!-- this is where the sports table ends -->
    </div>
  </div>
</div>
