<br>
<h1 style="font-family:Helvetica;">About Alpha Blog</h1>
<p style="font-family:Helvetica;"> Alpha Blog was inspired by our undying drive of self-improvement, growth and thirst for knowledge. The site was made possible by the vision of many other Alphas before us who invented and kept on improving the vision of what Ruby could be and Ruby is!
</p>
