<p style="font-family: Helvetica;text-align: center;background-color:#ffffe6"><%= image_tag 'alpha-blog_logo.png' %>
<br>
<%= link_to 'Home', root_path %> | <%= link_to 'About Us', about_path %>
</p>
