<%= render :template => 'pages/header' %>
<br>
<h1 style="font-family:Helvetica;">Welcome to Alpha Blog</h1>
<p style="font-family:Helvetica;"> In this blog you will find articles that will help you become the best version of yourself!
</p>

<%= render :template => 'pages/footer' %>
