<%= render :template => 'pages/header' %>
<br>
<h1 style="font-family:Helvetica;">Welcome to Alpha Blog</h1>
<p style="font-family:Helvetica;"> In this blog you will find articles that will help you become the best version of yourself!
<ul>
<li><a href="#" style="color:black;font-style:normal"> Setting the Power of Intention</a> | <a style="font-style:italic;color:gray;"> Mar 1, 2019</a> </li>
<li><a href="#" style="color:black;font-style:normal"> Journaling Your Future Journey</a> | <a style="font-style:italic;color:gray;"> Feb 1, 2019</a> </li>
<li><a href="#" style="color:black;font-style:normal"> Image Boards and Goal Setting</a> | <a style="font-style:italic;color:gray;"> Jan 1, 2019</a> </li>
</ul>
</p>

<%= render :template => 'pages/footer' %>
